RewriteEngine On

# TAREA ALUMNO: Impedir que se listen los archivos de las carpetas
Options -Indexes

# No reescribimos si es un fichero o directorio que existe físicamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirección limpia al Front Controller
# Quitamos la / inicial de index.php para que sea relativa a la ubicación del .htaccess
RewriteRule ^ index.php [L,QSA]

